

button {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    margin: 3px;
}

  body{
    text-align:center;
  }
  body:before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
  }
  button{
    background:#1AAB8A;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:#1AAB8A;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  

  #cat-input {
      line-height: 2em;
     
  }

  input#add-cat {
      box-shadow: 1px 1px 1px 1px #ccc;
      border: 0px;
      font-size: 24px;
      font-family: 'Dancing Script', cursive;
      background:#1AAB8A;
      margin: 5px;
  }

  input#add-cat:hover {
      cursor: pointer;
      outline: 1px solid lightgrey;
  }

  p {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
  }
 